<!DOCTYPE html>
<html id="html" lang="en" xmlns:th="http://www.thymeleaf.org">
	<head id="head">
		<title id="title">Login Page</title>
		<link id="link_main_theme" type="text/css" rel="stylesheet" href="css/main_theme.css" />
		<link id="link_login_page_theme" type="text/css" rel="stylesheet" href="css/login_page_theme.css" />
	</head>
	<body id="body">
		<div id="main_container" class="cls_main_container">
			<div id="main_container_horizontal" class="cls_main_container_horizontal">
				<div id="main_container_vertical" class="cls_main_container_vertical">
					<h2 id="login_header" class="cls_main_header">Login:</h2>
					<form id="login_form" action="perform_login" method="post">
						<input id="login_name" name="login_name" class="cls_input_field" type="text" placeholder="Username" required/>
						<input id="login_password" name="login_password" class="cls_input_field" type="password" placeholder="Password" required/>
						<p id="login_error_message" class="cls_error_text" th:classappend="${login_error_message_cls}">Wrong credentials!</p>
						<input id="login_button" type="submit" class="cls_login_button" value="Login" />
					</form>
				</div>
			</div>
		</div>
	</body>
</html>