@charset "UTF-8";
.cls_main_container{
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;	
}

.cls_main_container_horizontal {
	background: #F1F1F1;
	display: table-cell;
	vertical-align: middle;
}		
